@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

@layer base {
    :root {
        --footer: #9090905c;
        --background: #ffffff;
        --foreground: #000000;
        --card: #000000;
        --card-foreground: #ffffff;
        --popover: #000000;
        --popover-foreground: #ffffff;
        --primary: #000000;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #747474;
        --muted2: #2b2b2b;
        --muted3: #7b7b7b;
        --muted4: #b7b7b7;
        --muted-foreground: #121212e3;
        --accent: #000000f2;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu components phụ */
        --placeholder: #acacac;
        --roomCard: #f3f3f3;
        --button: #191919;
        --hover: #373737;
        --border1: #ffffff;
        --border2: #000000;
        --underline: #ffffff;
        --input: #ffffff;
        --ring1: #494949;
        --transparent1: #0000003b;
        /* Biểu đồ */
        --chart-1: #ffffff;
        --chart-2: #ffffff;
        --chart-3: #ffffff;
        --chart-4: #ffffff;
        --chart-5: #ffffff;
    }

    .light {
        /* Màu components chính */
        --footer: #ffffff;
        --background: #000000;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu components phụ */
        --border1: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring1: #ffffff;
        /* Biểu đồ */
        --chart-1: #ffffff;
        --chart-2: #ffffff;
        --chart-3: #ffffff;
        --chart-4: #ffffff;
        --chart-5: #ffffff;
    }

    .dark {
        /* Màu components chính */
        --footer: #9090905c;
        --background: #ffffff;
        --foreground: #000000;
        --card: #000000;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #000000;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #3939394b;
        --muted-foreground: #121212e3;
        --accent: #000000f2;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu components phụ */
        --border1: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring1: #ffffff;
        /* Biểu đồ */
        --chart-1: #ffffff;
        --chart-2: #ffffff;
        --chart-3: #ffffff;
        --chart-4: #ffffff;
        --chart-5: #ffffff;
    }

    .spring {
        /* Màu components chính */
        --footer: #ffffff;
        --background: #000000;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu components phụ */
        --border1: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring1: #ffffff;
        /* Biểu đồ */
        --chart-1: #ffffff;
        --chart-2: #ffffff;
        --chart-3: #ffffff;
        --chart-4: #ffffff;
        --chart-5: #ffffff;
    }

    .summer {
        /* Màu components chính */
        --footer: #ffffff;
        --background: #000000;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu components phụ */
        --border1: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring1: #ffffff;
        /* Biểu đồ */
        --chart-1: #ffffff;
        --chart-2: #ffffff;
        --chart-3: #ffffff;
        --chart-4: #ffffff;
        --chart-5: #ffffff;
    }

    .fall {
        /* Màu components chính */
        --footer: #ffffff;
        --background: #000000;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu components phụ */
        --border1: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring1: #ffffff;
        /* Biểu đồ */
        --chart-1: #ffffff;
        --chart-2: #ffffff;
        --chart-3: #ffffff;
        --chart-4: #ffffff;
        --chart-5: #ffffff;
    }

    .winter {
        /* Màu components chính */
        --footer: #ffffff;
        --background: #000000;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu components phụ */
        --border1: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring1: #ffffff;
        /* Biểu đồ */
        --chart-1: #ffffff;
        --chart-2: #ffffff;
        --chart-3: #ffffff;
        --chart-4: #ffffff;
        --chart-5: #ffffff;
    }
}

@layer base {
    * {
        @apply border-border1;
    }
    body {
        @apply bg-background text-foreground;
    }
}
